In [39]:
# Importing libraries
# -------------------
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [40]:
# Importing the dataset
# ---------------------
dataset = pd.read_csv('Multiple-Linear-Dataset.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

In [41]:
print("Given Dataset: ")
dataset

Given Dataset:

    Product_1  Product_2  Product_3 Location     Profit
0   165349.20  136897.80  471784.10   City_1  192261.83
1   162597.70  151377.59  443898.53   City_2  191792.06
2   153441.51  101145.55  407934.54   City_3  191050.39
3   144372.41  118671.85  383199.62   City_1  182901.99
4   142107.34   91391.77  366168.42   City_3  166187.94
5   131876.90   99814.71  362861.36   City_1  156991.12
6   134615.46  147198.87  127716.82   City_2  156122.51
7   130298.13  145530.06  323876.68   City_3  155752.60
8   120542.52  148718.95  311613.29   City_1  152211.77
9   123334.88  108679.17  304981.62   City_2  149759.96
10  101913.08  110594.11  229160.95   City_3  146121.95
11  100671.96   91790.61  249744.55   City_2  144259.40
12   93863.75  127320.38  249839.44   City_3  141585.52
13   91992.39  135495.07  252664.93   City_2  134307.35
14  119943.24  156547.42  256512.92   City_3  132602.65
15  114523.61  122616.84  261776.23   City_1  129917.04
16   78013.11  121597.55  264346.06   City_2  126992.93
17   94657.16  145077.58  282574.31   City_1  125370.37
18   91749.16  114175.79  294919.57   City_3  124266.90
19   86419.70  153514.11       0.00   City_1  122776.86
20   76253.86  113867.30  298664.47   City_2  118474.03
21   78389.47  153773.43  299737.29   City_1  111313.02
22   73994.56  122782.75  303319.26   City_3  110352.25
23   67532.53  105751.03  304768.73   City_3  108733.99
24   77044.01   99281.34  140574.81   City_1  108552.04
25   64664.71  139553.16  137962.62   City_2  107404.34
26   75328.87  144135.98  134050.07   City_3  105733.54
27   72107.60  127864.55  353183.81   City_1  105008.31
28   66051.52  182645.56  118148.20   City_3  103282.38
29   65605.48  153032.06  107138.38   City_1  101004.64
30   61994.48  115641.28   91131.24   City_3   99937.59
31   61136.38  152701.92   88218.23   City_1   97483.56
32   63408.86  129219.61   46085.25   City_2   97427.84
33   55493.95  103057.49  214634.81   City_3   96778.92
34   46426.07  157693.92  210797.67   City_2   96712.80
35   46014.02   85047.44  205517.64   City_1   96479.51
36   28663.76  127056.21  201126.82   City_3   90708.19
37   44069.95   51283.14  197029.42   City_2   89949.14
38   20229.59   65947.93  185265.10   City_1   81229.06
39   38558.51   82982.09  174999.30   City_2   81005.76
40   28754.33  118546.05  172795.67   City_2   78239.91
41   27892.92   84710.77  164470.71   City_3   77798.83
42   23640.93   96189.63  148001.11   City_2   71498.49
43   15505.73  127382.30   35534.17   City_1   69758.98
44   22177.74  154806.14   28334.72   City_2   65200.33
45    1000.23  124153.04    1903.93   City_1   64926.08
46    1315.46  115816.21  297114.46   City_3   49490.75
47       0.00  135426.92       0.00   City_2   42559.73
48     542.05   51743.15       0.00   City_1   35673.41
49       0.00  116983.80   45173.06   City_2   14681.40

In [42]:
# Encoding categorical data
# -------------------------
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
location = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3])],remainder='passthrough')
X=np.array(location.fit_transform(X))

# Avoiding the Dummy Variable Trap
X = X[:, 1:]

In [43]:
# Splitting the dataset into the Training set and Test set
# --------------------------------------------------------
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [44]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regr = LinearRegression()
regr.fit(X_train,y_train)

LinearRegression()

In [45]:
# Predicting the Test set results
y_test = regr.predict(X_test)
print("Profits: ")
for profits in y_test:
    print("\n%.2f"%profits)

Profits:

103015.20

132582.28

132447.74

71976.10

178537.48

116161.24

67851.69

98791.73

113969.44

167921.07

In [46]:
# Building the optimal model using Backward Elimination
import statsmodels.api as sm_api
X = np.append(arr=np.ones((50, 1)).astype(int), values=X, axis=1)
X_opt = X[:, [0, 1, 2, 3, 4, 5]]
X_opt = np.array(X_opt, dtype=float)
regressor_OLS = sm_api.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()
X_opt = X[:, [0, 1, 3, 4, 5]]
X_opt = np.array(X_opt, dtype=float)
regressor_OLS = sm_api.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()
X_opt = X[:, [0, 3, 4, 5]]
X_opt = np.array(X_opt, dtype=float)
regressor_OLS = sm_api.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()
X_opt = X[:, [0, 3, 5]]
X_opt = np.array(X_opt, dtype=float)
regressor_OLS = sm_api.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()
X_opt = X[:, [0, 3]]
X_opt = np.array(X_opt, dtype=float)
regressor_OLS = sm_api.OLS(endog=y, exog=X_opt).fit()
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.947
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     849.8
Date:                Thu, 16 Jun 2022   Prob (F-statistic):           3.50e-32
Time:                        11:15:05   Log-Likelihood:                -527.44
No. Observations:                  50   AIC:                             1059.
Df Residuals:                      48   BIC:                             1063.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.903e+04   2537.897     19.320      0.000    4.39e+04    5.41e+04
x1             0.8543      0.029     29.151      0.000       0.795       0.913
==============================================================================
Omnibus:                       13.727   Durbin-Watson:                   1.116
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               18.536
Skew:                          -0.911   Prob(JB):                     9.44e-05
Kurtosis:                       5.361   Cond. No.                     1.65e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.65e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""